
  *{box-sizing:border-box;}
  .clear,.clr{clear:both;}

  /* just the basics */
  /* for temporary test classes */
  .yellow{border:1px solid yellow !important;}
  .red{border:1px solid red !important;}
  .blue{border:1px solid blue !important;}
  .green{border:1px solid green !important;}
  .purple{border:1px solid purple !important;}
  .orange{border:1px solid orange !important;}
  .pink{border:1px solid pink !important;}
  .teal{border:1px solid teal !important;}
  .black{border:1px solid black !important;}
  .chartreuse {border:1px solid chartreuse  !important;}
  .crimson{border:1px solid crimson !important;}
  .darkblue{border:1px solid darkblue !important;}
  .greenyellow{border:1px solid greenyellow !important;}
  .wheat{border:1px solid wheat !important;}

  .active_blue,.active-blue, .active_blue:hover{
    box-shadow: 0 0 20px 0 rgba(10, 7, 216, 0.95);
  }

  .show_flex{display:flex $mp;}
  .show_block{display:block $mp;}
  .show_inline-flex{display:inline-flex $mp;}
  .show_inline{display:inline $mp;}

  .image_display{height:$rem * 13 $mp;}

  .d3-ui-icon:after {
    content: "";
    background-size: contain !important;
    background-position: center center;
    position: absolute;


    background-position: center center;
    background-repeat: no-repeat;
    display:block;
  }

  .d3-med::after{
    margin-top: -2vw;
    margin-left: -2vw;
    left: 2vw;
    top: 2vw;
    width: 10vw;
    height: 10vw;
  }

  .d3-sm::after{
    left: 50%;
    top: 50%;
    width: 22px;
    height: 22px;
  }

  .word_wrap{
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
