
.d3-w5{width:5vw $mp;}
.d3-w10{width:10vw $mp;}
.d3-w15{width:15vw $mp;}
.d3-w20{width:20vw $mp;}
.d3-w25{width:25vw $mp;}
.d3-w30{width:30vw $mp;}
.d3-w35{width:35vw $mp;}
.d3-w40{width:40vw $mp;}
.d3-w45{width:45vw $mp;}
.d3-w50{width:50vw $mp;}
.d3-w55{width:55vw $mp;}
.d3-w60{width:60vw $mp;}
.d3-w65{width:65vw $mp;}
.d3-w70{width:70vw $mp;}
.d3-w75{width:75vw $mp;}
.d3-w80{width:80vw $mp;}
.d3-w85{width:85vw $mp;}
.d3-w90{width:90vw $mp;}
.d3-w95{width:95vw $mp;}
.d3-w100{width:100vw $mp;}

.d3-h5{height:5vw $mp;}
.d3-h10{height:10vw $mp;}
.d3-h15{height:15vw $mp;}
.d3-h20{height:20vw $mp;}
.d3-h25{height:25vw $mp;}
.d3-h30{height:30vw $mp;}
.d3-h35{height:35vw $mp;}
.d3-h40{height:40vw $mp;}
.d3-h45{height:45vw $mp;}
.d3-h50{height:50vw $mp;}
.d3-h55{height:55vw $mp;}
.d3-h60{height:60vw $mp;}
.d3-h65{height:65vw $mp;}
.d3-h70{height:70vw $mp;}
.d3-h75{height:75vw $mp;}
.d3-h80{height:80vw $mp;}
.d3-h85{height:85vw $mp;}
.d3-h90{height:90vw $mp;}
.d3-h95{height:95vw $mp;}
.d3-h100{height:100vw $mp;}

.d3S{

}
.d3M{

}
.d3L{

}
/*RWD https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/

@media only screen and (min-width:320px)
{
  .d3S-w5{width:5vw $mp;}
  .d3S-w10{width:10vw $mp;}
  .d3S-w15{width:15vw $mp;}
  .d3S-w20{width:20vw $mp;}
  .d3S-w25{width:25vw $mp;}
  .d3S-w30{width:30vw $mp;}
  .d3S-w35{width:35vw $mp;}
  .d3S-w40{width:40vw $mp;}
  .d3S-w45{width:45vw $mp;}
  .d3S-w50{width:50vw $mp;}
  .d3S-w55{width:55vw $mp;}
  .d3S-w60{width:60vw $mp;}
  .d3S-w65{width:65vw $mp;}
  .d3S-w70{width:70vw $mp;}
  .d3S-w75{width:75vw $mp;}
  .d3S-w80{width:80vw $mp;}
  .d3S-w85{width:85vw $mp;}
  .d3S-w90{width:90vw $mp;}
  .d3S-w95{width:95vw $mp;}
  .d3S-w100{width:100vw $mp;}

  .d3S-h5{height:5vw $mp;}
  .d3S-h10{height:10vw $mp;}
  .d3S-h15{height:15vw $mp;}
  .d3S-h20{height:20vw $mp;}
  .d3S-h25{height:25vw $mp;}
  .d3S-h30{height:30vw $mp;}
  .d3S-h35{height:35vw $mp;}
  .d3S-h40{height:40vw $mp;}
  .d3S-h45{height:45vw $mp;}
  .d3S-h50{height:50vw $mp;}
  .d3S-h55{height:55vw $mp;}
  .d3S-h60{height:60vw $mp;}
  .d3S-h65{height:65vw $mp;}
  .d3S-h70{height:70vw $mp;}
  .d3S-h75{height:75vw $mp;}
  .d3S-h80{height:80vw $mp;}
  .d3S-h85{height:85vw $mp;}
  .d3S-h90{height:90vw $mp;}
  .d3S-h95{height:95vw $mp;}
  .d3S-h100{height:100vw $mp;}
}

@media only screen and (min-width:480px)
{
  .d3M-w5{width:5vw $mp;}
  .d3M-w10{width:10vw $mp;}
  .d3M-w15{width:15vw $mp;}
  .d3M-w20{width:20vw $mp;}
  .d3M-w25{width:25vw $mp;}
  .d3M-w30{width:30vw $mp;}
  .d3M-w35{width:35vw $mp;}
  .d3M-w40{width:40vw $mp;}
  .d3M-w45{width:45vw $mp;}
  .d3M-w50{width:50vw $mp;}
  .d3M-w55{width:55vw $mp;}
  .d3M-w60{width:60vw $mp;}
  .d3M-w65{width:65vw $mp;}
  .d3M-w70{width:70vw $mp;}
  .d3M-w75{width:75vw $mp;}
  .d3M-w80{width:80vw $mp;}
  .d3M-w85{width:85vw $mp;}
  .d3M-w90{width:90vw $mp;}
  .d3M-w95{width:95vw $mp;}
  .d3M-w100{width:100vw $mp;}

  .d3M-h5{height:5vw $mp;}
  .d3M-h10{height:10vw $mp;}
  .d3M-h15{height:15vw $mp;}
  .d3M-h20{height:20vw $mp;}
  .d3M-h25{height:25vw $mp;}
  .d3M-h30{height:30vw $mp;}
  .d3M-h35{height:35vw $mp;}
  .d3M-h40{height:40vw $mp;}
  .d3M-h45{height:45vw $mp;}
  .d3M-h50{height:50vw $mp;}
  .d3M-h55{height:55vw $mp;}
  .d3M-h60{height:60vw $mp;}
  .d3M-h65{height:65vw $mp;}
  .d3M-h70{height:70vw $mp;}
  .d3M-h75{height:75vw $mp;}
  .d3M-h80{height:80vw $mp;}
  .d3M-h85{height:85vw $mp;}
  .d3M-h90{height:90vw $mp;}
  .d3M-h95{height:95vw $mp;}
  .d3M-h100{height:100vw $mp;}
}

@media only screen and (min-width:768px)
{
  .d3L-w5{width:5vw $mp;}
  .d3L-w10{width:10vw $mp;}
  .d3L-w15{width:15vw $mp;}
  .d3L-w20{width:20vw $mp;}
  .d3L-w25{width:25vw $mp;}
  .d3L-w30{width:30vw $mp;}
  .d3L-w35{width:35vw $mp;}
  .d3L-w40{width:40vw $mp;}
  .d3L-w45{width:45vw $mp;}
  .d3L-w50{width:50vw $mp;}
  .d3L-w55{width:55vw $mp;}
  .d3L-w60{width:60vw $mp;}
  .d3L-w65{width:65vw $mp;}
  .d3L-w70{width:70vw $mp;}
  .d3L-w75{width:75vw $mp;}
  .d3L-w80{width:80vw $mp;}
  .d3L-w85{width:85vw $mp;}
  .d3L-w90{width:90vw $mp;}
  .d3L-w95{width:95vw $mp;}
  .d3L-w100{width:100vw $mp;}

  .d3L-h5{height:5vw $mp;}
  .d3L-h10{height:10vw $mp;}
  .d3L-h15{height:15vw $mp;}
  .d3L-h20{height:20vw $mp;}
  .d3L-h25{height:25vw $mp;}
  .d3L-h30{height:30vw $mp;}
  .d3L-h35{height:35vw $mp;}
  .d3L-h40{height:40vw $mp;}
  .d3L-h45{height:45vw $mp;}
  .d3L-h50{height:50vw $mp;}
  .d3L-h55{height:55vw $mp;}
  .d3L-h60{height:60vw $mp;}
  .d3L-h65{height:65vw $mp;}
  .d3L-h70{height:70vw $mp;}
  .d3L-h75{height:75vw $mp;}
  .d3L-h80{height:80vw $mp;}
  .d3L-h85{height:85vw $mp;}
  .d3L-h90{height:90vw $mp;}
  .d3L-h95{height:95vw $mp;}
  .d3L-h100{height:100vw $mp;}
}

@media only screen and (min-width:992px)
{
  .d3XL-w5{width:5vw $mp;}
  .d3XL-w10{width:10vw $mp;}
  .d3XL-w15{width:15vw $mp;}
  .d3XL-w20{width:20vw $mp;}
  .d3XL-w25{width:25vw $mp;}
  .d3XL-w30{width:30vw $mp;}
  .d3XL-w35{width:35vw $mp;}
  .d3XL-w40{width:40vw $mp;}
  .d3XL-w45{width:45vw $mp;}
  .d3XL-w50{width:50vw $mp;}
  .d3XL-w55{width:55vw $mp;}
  .d3XL-w60{width:60vw $mp;}
  .d3XL-w65{width:65vw $mp;}
  .d3XL-w70{width:70vw $mp;}
  .d3XL-w75{width:75vw $mp;}
  .d3XL-w80{width:80vw $mp;}
  .d3XL-w85{width:85vw $mp;}
  .d3XL-w90{width:90vw $mp;}
  .d3XL-w95{width:95vw $mp;}
  .d3XL-w100{width:100vw $mp;}

  .d3XL-h5{height:5vw $mp;}
  .d3XL-h10{height:10vw $mp;}
  .d3XL-h15{height:15vw $mp;}
  .d3XL-h20{height:20vw $mp;}
  .d3XL-h25{height:25vw $mp;}
  .d3XL-h30{height:30vw $mp;}
  .d3XL-h35{height:35vw $mp;}
  .d3XL-h40{height:40vw $mp;}
  .d3XL-h45{height:45vw $mp;}
  .d3XL-h50{height:50vw $mp;}
  .d3XL-h55{height:55vw $mp;}
  .d3XL-h60{height:60vw $mp;}
  .d3XL-h65{height:65vw $mp;}
  .d3XL-h70{height:70vw $mp;}
  .d3XL-h75{height:75vw $mp;}
  .d3XL-h80{height:80vw $mp;}
  .d3XL-h85{height:85vw $mp;}
  .d3XL-h90{height:90vw $mp;}
  .d3XL-h95{height:95vw $mp;}
  .d3XL-h100{height:100vw $mp;}
}
